<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/style.css">
    <style>
        @import url('../Assets/CSS/style.css');
    </style>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="">
                <h3 class="text-center">My To-Do List</h3>
                <input class="textBox" type="text" placeholder="New Task">
            </div>
            <!-- Complete -->
            <div class="taskIncomplete">
                <h4><u><i>Incomplete</i></u></h4>
            </div>
            
            <!-- Incomplete -->
            <div class="taskComplete">
                <h4><u><i>Complete</i></u></h4>
            </div>

            <!-- Javascript Link -->
            <script src="../Assets/JS/app.js"></script>
        </div>
    </div>

</body>

</html>